body {
  margin: 250px 200px;
  background-image:url("./images/background2017.png");
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 30px;
  display:block;
 }
.container {
  text-align: center;
  margin-top: 100px;
}

.boardContent {
  margin-top: 50px;
  text-align: center;
}

.ProfileBar {
  text-align: center;
  margin-top: 140px;
  font-size: 16px;
}
.rowsOne {
  margin-top: 20px;
}

#bills {
  margin: -50px;
}


h2 {
  text-align: center;
 }

/*rosterOverall*/
.roster {
  text-align: center;
  margin-top: 25%;
}
/*roster*/
table.center {
 margin-left: auto;
 margin-right: auto;
 }

.shuffle {
  display: block;
    margin: 0 auto;
text-align: center;
}

table.bills {
  margin-left: auto;
  margin-right: auto;
}

.calendar {
  text-align: center;
  margin-top: -20%;
  margin-left: auto;
  margin-right: auto;
}

/*Shoppinglist*/

.Shoppinglist {
  text-align: center;
  margin-top: 25%;
}

.setting {
    text-align: right;
  margin-top: 100px;
}
#fb-login img {
    width: 50%;
    height: auto;
}
#remove-button {
  text-align: right;
}
