body {
  margin: 250px 200px;
  background-image:url("./images/background2017.png");
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 30px;
  display:block;
 }

 h2 {
   text-align: center;
   margin-top: 250px;
  }

 .defaultPage {
   margin-top: 275px;
   text-align: center;
 }

.boardContent {
  margin-top: 55px;
  text-align: center;
}

.ProfileBar {
  text-align:center;
  margin-top:168px;
  font-size: 20px;

}
.rowsOne {
  margin-top: -20px;
}
/*Shoppinglist*/

.Shoppinglist {
  text-align: center;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

/*calendar*/

.calendarContainer {
  text-align: center;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
}

/*bills*/

#bills {
  text-align: center;
  margin-top: -200px;
}

#bills a:hover img {
  border: 1px solid red;
}

.totalBill {
  text-align: center;
  margin-top: 50px;
}
table.bills {
  margin-left: auto;
  margin-right: auto;
}

/*rosterOverall*/
.roster {
text-align: center;

}

#roster {
 margin: 50px 45px;

}
/*roster*/
table.center {
 margin-left: auto;
 margin-right: auto;
 }

.shuffle {
  display: block;
    margin: 0 auto;
text-align: center;
}

/*settings*/
.setting{
  margin-right: -70px;
}

.Settings {
  text-align: center;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;

}

table.settingInfo {
  margin-left: auto;
  margin-right: auto;
}

/*Registration*/
.registerContainer {
  text-align: center;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  height:50%;
}


/*polaroids*/

.polaroidGroup {
  margin-top: -390px;
  text-align: center;
  margin-left: auto;
  margin: -300px 200px;
}


/*facebook*/
#fb-login img {
    width: 50%;
    height: auto;
}
#remove-button {
  text-align: right;
}
